@model IList<Beer>
@section DocumentCSS {
<style>
    .rating > label {
        font-size: 150%;
    }
    label:checked {
        margin: 0;
    }
    body, html {
        height: 100%;
        margin: 0;
        padding-bottom: 0;
    }
    .btn-default {
        background-color: #FABE28;
    }
        .btn-default:hover {
            background-color: #E1AB24;
        }
        .btn-default:active,
        .btn-default:focus,
        .btn-default:active:focus {
            background-color: #C89820;
        }
</style>
}
@{ 
    ViewData["Title"] = "Home";
}
<!-- Title and Search Bar -->
<div class="main-img">
    <div class="container body-content">
        <div class="row">
            <div class="col-md-6 centered">
                <div class="logo-box">
                    <div class="main-logo">
                        <h1>BeerHub</h1>
                        <hr />
                    </div>
                    <form asp-controller="Home" asp-action="Search" method="get">
                        <div class="input-group">
                            <input type="search" class="form-control" name="beer" placeholder="Search beer or brewery...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit" >
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
     </div>
</div>
