@model Favourites
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeadScripts
{
    <script src="~/js/FavouritesDetails.js"></script>
}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="results"></div>
    </div>
</div>
<ul class="pager"></ul>
