@model Beer
@section DocumentCSS{
    <style>

        .rating > label {
            font-size: 125%;
        }

        h4.review-header {
            color: black;
        }
    </style>
}
@{
    ViewData["Title"] = "Beer Information";
}
@*For Future implementation for displaying beer information*@

<div class="panel panel-default">
    <div class="panel-body">
        <div class="media">
            <div class="media-body"></div>
            <div class="media-right"></div>
        </div>
        <div class="info"></div>
    </div>
</div>
